@page
@model Bodea_Denis.Pages.Dotari.IndexModel

@{
    ViewData["Title"] = "Dotari";
}

<h1>Dotari</h1>

<p>
    <a asp-page="Create">Adauga o noua dotare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dotare[0].DotareNume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dotare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DotareNume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Stergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
