@page
@model Bodea_Denis.Pages.Masini.DetailsModel

@{
    ViewData["Title"] = "Detalii masina";
}

<h1>Detailii masina</h1>

<div>
    <h4>Masina</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.Culoare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.Culoare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.An)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.An)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.Tara)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.Tara)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.Motor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.Motor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Masina.DataAdaugare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Masina.DataAdaugare)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Masina.ID">Editare</a> |
    <a asp-page="./Index">Inapoi la pagina principala</a>
</div>
